#main{
	max-width: 600px;
	margin: 0 auto;
}
h1{
	font-family: 'Zen Antique Soft', serif;
	font-weight: 900;
}

p{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 12px;

}

h2{
	font-family: 'Zen Old Mincho', serif;

}
/* enlarge and center the heading */

.banner{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	font-size: 64px;
	background-color: #b02109;
	margin-bottom: 35px;
}

.subtext{
	color: darkgrey;
}

blockquote{
	font-size: 25px;
	color: darkgrey;
}

img{
	max-width: 100%;
}

figcaption{
	font-size: 11px;


}

.portrait{
	max-height: 350px;

}

figure{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.related{
	font-size: 12px;

}

h5{
	margin-bottom: 5px;
}